<!-- app/templates/home/dashboard.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Project Dashboard{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Projects</h1>
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="10%"> <a href="{{ url_for('home.dashboard', orderby = 'ID') }}">ID</a> </th>
                  <th width="17%"> <a href="{{ url_for('home.dashboard', orderby = 'date') }}">Date</a> </th>
                  <th width="20%"> <a href="{{ url_for('home.dashboard', orderby = 'owner') }}">Owner</a> </th>
                  <th width="36%"> <a href="{{ url_for('home.dashboard', orderby = 'project_name') }}">Project Name</a> </th>
                  <th width="17%"> <a href="{{ url_for('home.dashboard', orderby = 'document') }}">Document Name</a> </th>
                </tr>
              </thead>
              <tbody>
              {% for project in projects %}
                    <tr>
                        <td> {{ project.id }}</td>
                        <td> {{ project.date }}</td>
                        <td> {{ project.employee }}</td>
                        <td> {{ project.name }}</td>
                        <td> {{ project.doc_name }}</td>
                    </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}